# Name: Muhammad Ayaz Shah
# Father's name: Mahmood Shah
# Roll No.: AIC023941

# ASSIGNMENT

<h3> 1 : Declare and initialize a variable name total_marks with a value 500</h3>

In [6]:
total_marks=500
print("Total marks are", total_marks)

Total marks are 500

<h3> 2 : Declare and initialize 5 variables name maths , english , urdu , physics and chemisrty with different integer values</h3>

In [7]:
maths=99
english=75
urdu=87
physics=89
chemistry=86
print("maths=",maths,"english=",english,"urdu=",urdu,"physics=",physics,"chemistry=",chemistry)

maths= 99 english= 75 urdu= 87 physics= 89 chemistry= 86

<h3>3 : Calculate the obtained marks And assign the value In variable name obtained_marks</h3>

In [1]:
print("Give all subjects obitained marks: ")
maths=int(input("Enter maths obtained marks: "))
phy=int(input("Enter physics obtained marks: "))
chem=int(input("Enter chemistry obtained marks: "))
urdu=int(input("Enter urdu obtained marks: "))
eng=int(input("Enter english obtained marks: "))
obtained_marks=maths+phy+chem+urdu+eng
print("Total obtained marks are",obtained_marks)

Give all subjects obitained marks:
Enter maths obtained marks: 99
Enter physics obtained marks: 75
Enter chemistry obtained marks: 86
Enter urdu obtained marks: 87
Enter english obtained marks: 75
Total obtained marks are 422

### 4 : Calculate percentage and assign the value in variable name percentage

In [9]:
obtaind_marks=int(input("For percentage, enter obtained marks: "))
total_marks=int(input("Enter total marks: "))
percentage=(obtained_marks/total_marks)*100
print("Your percentage is",percentage, "%")

For percentage, enter obtained marks: 456
Enter total marks: 500
Your percentage is 84.39999999999999 %

<h3>5 : Declare and initialize an empty variable name grade </h3>

In [8]:
grade=""
print(grade)

### 6: print your biodata

In [10]:
name=input("Enter your name: ")
father_name=input("Enter your father's name: ")
age=int(input("Enter your age: "))
occupation=input("Enter yours occupation: ")
study=input("Enter what you studied: ")
print("\n\n\t*_*___MY SELF___*_*\n")
print("My name is ",name,"\nMy father's name is", father_name,"\nMy age is about",age,"years","\nMy occupation is", occupation, "\nI was studied",study)

Enter your name: Muhammad Ayaz Shah
Enter your father's name: Mahmood Shah
Enter your age: 24
Enter yours occupation: teacher
Enter what you studied: M.Sc in mathematics


	*_*___MY SELF___*_*

My name is  Muhammad Ayaz Shah
My father's name is Mahmood Shah
My age is about 24 years
My occupation is teacher
I was studied M.Sc in mathematics